[submodule "submodules/diff-surfel-rasterization"]
	path = submodules/diff-surfel-rasterization
	url = https://github.com/Promethe-us/diff-surfel-rasterization
[submodule "submodules/gtsam"]
	path = submodules/gtsam
	url = https://github.com/Promethe-us/gtsam
	branch = main
[submodule "submodules/dbaf"]
	path = submodules/dbaf
	url = https://github.com/Promethe-us/dbaf
[submodule "submodules/metric_modules"]
	path = submodules/metric_modules
	url = https://github.com/Promethe-us/metric_modules
[submodule "submodules/dbef/thirdparty/lietorch"]
	path = submodules/dbef/thirdparty/lietorch
	url = https://github.com/princeton-vl/lietorch
[submodule "submodules/dbef/thirdparty/eigen"]
	path = submodules/dbef/thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
